<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style media="screen">
    </style>
  </head>
  <body>
    <form>
      <input type="text" name="guess" value=""/>
      <input type="submit" name="" value="Guess!"/>
    </form>
    <p><%= message %></p>
  </body>
</html>
