<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Caesar Cipher Generator</title>
  </head>
  <body>
    <h1>Caesar Cipher</h1>
    <form class="" action="/" method="post">
      <p>Enter a String: <input type="text" name="original_str" value="What a string!"/></p>
      <p>Enter a Shift Index: <input type="number" name="shift_index" value="5"/> </p>
      <input type= 'reset' name="" value="Reset">
      <input type= 'submit' name=""/>
    </form>
  </body>
</html>
